/* room */

.rooms{
    margin: 40px 0;
    background: rgb(6, 210, 224);
}
.title{
    font-size: 30PX;
    text-align: center;
    background: linear-gradient(rgb(247, 80, 80), rgb(199, 243, 3));
    color: black
}
.room{
    margin: 45px 0;
    padding-bottom: 25px;
    background:  linear-gradient(red, rgb(224, 228, 6));
    color:black;
    font-size: 20px;
    
}
.room-text{
    padding: 5px 20px; 
    text-align: center;
    height: 50;
    width: 30;
    
    
}
.room-text h3{
    font-size: 35px;
    
}
.room-text ul{
    list-style-type: none;
    margin: 15px 0;
}
.room-text ul li{
    padding: 7px 0;
}
.room-text ul li i{
    color: var(--yellow);
    margin-right: 10px;
}
.rate{
    opacity: 0.8;
}
.rate span{
    font-size: 40px;
    font-weight: 900;
    color: var(--yellow);
}
.room-image{
    overflow: hidden;
    text-align: center;
}
.room-image img{
    transition: var(--transition);
}
.room-image:hover img{
    transform: scale(1.1);
}
@media (min-width: 900px){
    .rooms-container{
       
        flex-wrap: wrap;
    }
    .room{
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }
}
@media(min-width: 1370px){
    .rooms-container{
        flex-direction: swap;
    }
    .room{
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }
    .room-image{
        flex: 1;
    }
    .room-image img{
        height: 100%;
    }
    .room-text{
        flex: 1;
    }
    .room:nth-child(even){
        flex-direction: row-reverse;
    }
}

